.switch{
    position: absolute;
    margin: 5px;
    cursor: pointer;
}

.switch img{
    height: 20px;
}

.main-content{
    margin-top: 100px;
}
.double{
    margin-left: 200px;
}

.row{
    margin-top: 15px;
    display: block;
}

.item{
    display: inline;
}

.item img{
    width: 400px;

    margin-left: 15px;

}

.name{
    color: #ffffff;
    position: relative;
    font-size: 60px;
    margin-top: 20px;
}

.dimness{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    margin-left: 15px;
    padding: 5% 0px 0px 0px;
    display: inline;
    width: 400px;
    height: 225px;
    text-align: center;
}

.item:hover{
    cursor: pointer;
}

.banned{
    position: absolute;
    z-index: 1;
}

.picked {
    color: white;
    font-size: 40px;
    margin-top: -30px;
}

body{
    background-color: #999999;
}